/* ===== start 404 page ====== */

.fzf {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fzf .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fzf .content h1 {
    font-size: 200px;
    font-weight: bold;
    color: var(--primaryColor);
}

.fzf .content h2 {
    padding-top: -10px;
    font-size: 90px;
    font-weight: bold;
    color: var(--primaryColor);
    padding-bottom: 10px;
}


.fzf .content a.btn {
    color: white;
    background: black;
}
/* ===== end 404 page ====== */